<%= render partial: 'left', locals: {args: {create_active: false}}%>
<div class="col-md-8">
	<div class="jumbotron" style="padding-top: 0;padding-bottom: 0;margin-top: 10">
		<div class="container">
			<h3><%=@active_batch.name %></h1>
			<h5><%=@active_batch.reward.reward %></h5>
			<p><%=@active_batch.desc %></p>
      <div class="col-md-12">
				<div class="col-md-6">
					<%= link_to "下载", active_batch_download_path(@active_batch), class: "btn btn-info", target: "_blank"%>	
				</div>
				<div class="col-md-6">
					<%= form_for(@active_batch, method: "delete") do |f| %>
						<%= f.text_field :id, type: "hidden" %>
						<%= f.submit "删除", class: "btn btn-danger" %>
					<% end %>
				</div>
			</div>
			
		</div>
	</div>

<table class="table table-striped">
	<thead>
		<tr>
			<td>编号</td>
			<td>领奖码</td>
			<td>是否领取</td>
			<td>服务器</td>
			<td>玩家id</td>
		</tr>
	</thead>
	<tbody>
		<%@active_batch.active_codes[0...10].each_with_index do |code, index|%>
		<tr>
			<td><%=index+1%>
			<td><%=code.code%></td>
			<td><%=code.use_flag ? "是" : "否"%></td>
			<td><%=code.server_user.try(:platform).try(:name)%></td>	
			<td><%=code.server_user.try(:username)%></td>				
		</tr>
		<%end%>
	</tbody>
</table>

</div>
