<%= javascript_include_tag "jquery.flot.min.js" %>
<%= javascript_include_tag "jquery.flot.time.min" %>

<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
	<div class="jumbotron">
		<div class="container">
			<h2><%= "#{@server.platform.name} : #{@server.name}" %></h2>
			<p><%= @server.desc %></p>
		</div>
	</div>
	
<div class="demo-container">
	<div id="placeholder" class="demo-placeholder"></div>
</div>
	<div class="text-center" style="padding-bottom: 20px">
		<%= link_to "返回", platform_server_path(@server.platform, @server), class: "btn btn-info" %>
	</div>
</div>

<script type="text/javascript">
	function xFormatter(val, axis) {
		return val+"点"
	}

	$(function() {
		var gold_sum = []
		var voucher_sum = []
		var donate_sum = []
		
		<% gold_sum_str = @data.inject(""){|str, item| str << "[#{item[:time]},#{item[:goldSum]}],"}
		gold_sum_str = gold_sum_str[0, gold_sum_str.length-1] %>
		gold_sum = [<%= gold_sum_str %>]
		
		$.plot("#placeholder", [{
			data: gold_sum,
			bar: { show: true},
			label: "元宝剩余"
		}],{
			xaxis: {
				tickSize: 1,
				tickFormatter: xFormatter
			},
			yaxis: {
				tickSize: 100
			}
		});
	})
</script>

<style type="text/css">
	.demo-container {
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}	

.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}
</style>